<div class="navbar navbar-default navbar-static-top" id="customNavbar">
  
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="<%= @localeParam+root_path %>"><%= t('logo') %></a>
    </div> <!-- end div class="navbar-header" -->
    <div class="navbar-header pull-right">
      <span class="navbar-brand"><%= t('moto') %></span>
    </div> <!-- end div class="navbar-header" -->

</div> <!-- end div class="navbar navbar-default navbar-fixed-top" -->